sphinx>=4.0
sphinx-autobuild>=2021.0
sphinx-book-theme>=1.0
nbsphinx>0.9
ipykernel
lxml>=6.0.0
openpyxl>=3.1.0
sphinx-exec-code>=0.12.1
sphinxcontrib-programoutput
pandoc
git+https://github.com/rmj3197/SurVigilance.git
